/* .footer_container{
    background-color: black;
    height: auto;

}
.footer_subcontainer1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer_subcontainer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer_subcon1{
    border:1px solid white;
    width: 20rem;

}
.socialicons{
    color:white;
    font-size: 2rem;
    cursor: pointer;
}
.socialicons:hover{
    color:red;

    cursor: pointer;

} */